@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* ===================  LOGIN USUARIO  =================== */

#main-bienvenida {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url("../assets/imgs/fondo-bienvenida.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: overlay;
}

#bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 60px;
    border-radius: 18px;
    height: 250px;

    @media (max-width: 765px) {
        width: 45%;
        min-height: 260px;
        height: auto;
    }
}

#bienvenida-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bienvenida h1 {
    color: #00b941;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;

    @media (max-width: 765px) {
        font-size: 2.5rem;
    }
}

#bienvenida h2 {
    color: #ef7603;
    font-size: 2rem;
    font-weight: 300;
    margin: 0px;
    text-align: center;
    font-size: 1.2rem;
}

#bienvenida-input-nombre-usuario {
    width: 400px;
    height: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    font-size: 1.4rem;
    padding: 10px 20px;
    color: #000;
    outline: none;
    background-color: #f4f4f4;

    @media (max-width: 765px) {
        width: 200px;
        height: 30px;
    }
}

#nombre-usuario-input:focus {
    border-color: #000;
}

#bienvenida-contenedor-input-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;

    @media (max-width: 765px) {
        flex-direction: column;
        height: 30px;
    }
}

#bienvenida-boton-continuar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

#bienvenida-nombre-invalido {
    color: red;

    @media (max-width: 765px) {
        width: 150px;
        height: 120px;
    }
}

/* =========================================== */

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ===================== NAVBAR ================== */

.fa.fa-plus-square {
    color: #00b941;
    font-size: 60px;
}

.fa.fa-cart-plus {
    font-size: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#nav-sub-navbar {
    width: 100%;
    background-color: #000;
    height: 30px;
    gap: 250px;
    padding: 6px 0px;
}

#nav-sub-navbar p {
    color: #fff;
}

#nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: #e5e5e5;
    position: relative;
    height: 50px;
    padding: 12px 0px;

    @media (max-width: 519px) {
        justify-content: start;
        align-items: center;
    }
}

#nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (max-width: 519px) {
        margin-left: 20px;
    }
}

#nav-carrito {
    position: absolute;
    right: 100px;
    cursor: pointer;

    @media (max-width: 519px) {
        right: 30px;
    }
}

#nav-carrito span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    right: -10px;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    padding: 5px;
    font-size: 12px;
}

/* ======================================= */

/* ===================  PRODUCTOS  ==================== */

.modal-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 125vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#modal {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    padding: 24px 54px;
    border-radius: 16px;

}

#modal-contenedor-resumen {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    width: 100%;
}

#modal-subcontenedor-resumen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#modal-subcontenedor-resumen div {
    gap: 20px;
}

#modal hr {
    width: 100%;
}

#modal span {
    margin-top: 5px;
    align-self: flex-end;
    font-size: 1.3rem;
}

#boton-imprimir {
    background-color: #ef7603;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-top: auto;
    margin-bottom: 30px;

    &:hover {
        opacity: 0.8;
    }
}

.fa.fa-window-close {
    font-size: 3rem;
    cursor: pointer;
    align-self: flex-end;

}

#modal h4 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
}

.fa.fa-check-circle {
    color: #00b941;
    font-size: 4rem;
}

.fa.fa-exclamation-circle {
    color: red;
    font-size: 4rem;
}

#productos-contenedor {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px 100px;
    flex-direction: row;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 75vh;
}

.flex-col-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#todos-los-productos {
    border-top: 1px solid #e5e5e5;
}

.contenedor-categorias-producto {
    @media (max-width: 519px) {
        flex-direction: row;
    }
}

#productos {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;

    @media (max-width: 519px) {
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
}

.productos-categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    width: 200px;
    height: 70px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: none;
    border-top: none;
    background-color: #fff;
    cursor: pointer;

    @media (max-width: 519px) {
        width: 75px;
        height: 50px;
        text-align: center;
        font-size: 0.8rem;
        padding: 0px 7px;
        border-right: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        border-radius: 12px;
    }
}

#buscador-productos {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    border: none;
}

.titulo-productos-input-buscarlos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @media (max-width: 500px) {
        flex-direction: column;
        margin-bottom: 30px;
    }
}

#main-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #0b3a66;
}

#main-productos h2 {
    color: #ef7603;
}

#modal-container-compra-productos {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 125vh;
    background-color: #000;
    z-index: 1000;
}

#modal-compra {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: #fff;
}

.categoria-activa {
    background-color: #ef7603;
    color: white;
    font-weight: bold;
}

#producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    border-radius: 14px;
    padding: 15px 0px;
    gap: 14px;
    background-color: #fff;
    flex-shrink: 0;

    @media (max-width: 650px) {
        width: 200px;
        height: 300px;
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


}

#producto-subcontenedor-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px 20px;
    border-top: 1px solid #dddddd;
    width: 260px;
    height: 100%;

    @media (max-width: 650px) {
        width: 150px;
        gap: 20px;
    }
}

#sub-contenedor-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

}

.imagen-contenedor {
    width: 250px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 650px) {
        width: 100px;
        height: 200px;
    }
}

#producto img {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
}

#producto h5 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
    margin-bottom: 0px;
}

#nombre-categoria-producto-contenedor {
    height: 70px;
    margin-bottom: 10px;
}

#producto h6 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    color: #666666;
}

#producto h6::first-letter {
    text-transform: uppercase;
}

#agregar-producto-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #00a339;
    font-weight: 600;
    color: #fff;
    align-self: center;
    justify-self: self-end;
    padding: 8px 18px;
    width: 95%;
    height: 25px;
    margin-top: auto;

    @media (max-width: 650px) {
        width: 150px;
        height: 20px;
    }

    &:hover {
        filter: brightness(0.8);
        transition: all 0.5s;
    }
}

#productos-contenedor {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    overflow-y: scroll;

    @media (max-width: 650px) {
        width: 90%;
    }
}

#producto p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ef7603;
}

/* ======================================= */

/* ================= ADMIN DASHBOARD =================== */

ul li {
    margin-right: 100px;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-dashboard-subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
    cursor: pointer;
    padding: 5px 0;
}

nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ef7603;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}


.flex-col-start-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.formulario-productos {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 24px;
    gap: 22px;
    width: 40%;
    height: 400px;
    background-color: #fff;
}

.formulario-productos button {
    background-color: #fff;
    border-radius: 8px;
    align-self: center;
    padding: 8px 64px;
    width: 400px;
    height: 50px;
    cursor: pointer;
    background-color: #00a339;
    color: #fff;
    border: none;

    &:hover {
        opacity: 0.7;
        transition: all 0.4s;
    }
}

.formulario-productos div label {
    font-weight: 600;
    font-size: 1.3rem;
    margin-right: 20px;
}

.formulario-productos div input {
    border-radius: 12px;
    height: 30px;
    width: 400px;
    border: 1px solid #ebebeb;
    font-size: 1.3rem;
    padding: 8px 24px;
}

.formulario-productos div select {
    background-color: #fff;
    border-radius: 12px;
    height: 50px;
    width: 400px;
    border: 1px solid #ebebeb;
    font-size: 1.3rem;
    padding: 12px 22px;
}

.formulario-productos div select option {
    border-radius: 12px;
    font-size: 1.3rem;
}

#main-crear-productos {
    height: 75vh;
    background-color: #0b3a66;
}

#main-crear-productos h1 {
    color: #ef7603;
    margin-top: 0;
}

/* =========== MODIFICAR PRODUCTOS (dashboard) ============== */

.flex-row-center-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

#producto-id-activo {
    width: 100%;
}

#main-modificar-productos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 86vh;
    background-color: #0b3a66;
}

#main-modificar-productos h1 {
    margin-top: 70px;
    color: #ef7603;
}

#input-id-producto {
    height: 30px;
    text-align: center;
    font-size: 1.7rem;
    width: 80px;
    padding: 20px;
    margin-right: 40px;
    border-radius: 8px;
    border: none;
}

#buscar-producto {
    border: none;
    border-radius: 6px;
    background-color: #00a339;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}

#contenedor-producto-encontrado {
    display: none;
    justify-content: start;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 30px;
    width: 350px;
    height: fit-content;
    padding: 40px;
}

#contenedor-producto-encontrado span::first-letter {
    text-transform: uppercase;
}

#contenedor-producto-encontrado span {
    font-size: 1rem;
    font-weight: 600;
    width: 125px;
}

#contenedor-producto-encontrado p {
    font-size: 2rem;
    font-weight: 600;
}

#boton-mostrar-modificacion {
    background-color: #ef7603;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 10px 40px;
    width: 200px;
    white-space: nowrap;

    &:hover {
        opacity: 0.8;
        transition: all 0.5s;
    }
}

#contenedor-producto-encontrado img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

/* =============================================== */
/* Sección del carrito */
.carrito {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.carrito h2 {
    margin-bottom: 1rem;
    color: #333;
}

.btn-comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #00a339;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    align-self: center;
    justify-self: center;
    padding: 8px 18px;
    width: 95%;
    height: 45px;
    margin-right: 0px;
    margin-bottom: 50px;

    &:hover {
        filter: brightness(0.8);
        transition: all 0.5s;
    }
}

.btn-vaciar {
    background: #ff4444;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    margin-right: 25px;
}

.btn-vaciar:hover {
    background: #cc0000;
}

#carrito-lateral {
    width: 25%;
    height: 96vh;

    @media (max-width: 1370px){
        width: 400px;
    }

    @media (max-width: 519px){
        width: 90%;
    }
}

.lista-carrito {
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 0;
}

.bloque-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    background: #f8f9fa;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    gap: 1rem;
    margin-right: 0px;
    height: 140px;
}

.info-producto {
    flex: 1;
}

.nombre-item {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.9rem;

    @media (max-width: 519px){
        font-size: 0.8rem;
    }
}

.carrito-producto-precio{
    @media (max-width: 519px){
        font-size: 0.8rem;
    }
}

.precio-item {
    color: #666;
    font-size: 0.9rem;
}

#carrito-imagen-producto {
    width: 100px;
    height: 100px;

    @media (max-width: 519px){
        width: 80px;
        height: 80px;
    }
}

.controles-cantidad {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #dddddd;
    width: fit-content;
    border-radius: 12px;
    padding: 0px 6px;
}

.btn-cantidad {
    background: none;
    color: #0b3a66;
    border: none;
    width: 25px;
    font-size: 1rem;
    height: 25px;
    border-radius: 50%;
    line-height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-restar {
    background: none;
}

.cantidad-item {
    font-weight: bold;
    min-width: 30px;
    text-align: center;
}

.subtotal-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: black;
    text-align: right;
}

.boton-eliminar {
    background: #ff4444;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.boton-eliminar {
    background: #0b3a66;
    color: white;
    border: none;
    padding: 0.1rem 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.total-carrito {
    text-align: end;
    font-size: 1.3rem;
    padding-top: 1rem;
    border-top: 2px solid #eee;
    margin-bottom: 30px;
}

.titulo-carrito-vaciar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

/* Estado carrito vacío */
.carrito-vacio {
    text-align: center;
    padding: 2rem;
    color: #666;
}

.carrito-vacio img {
    max-width: 200px;
    margin-bottom: 1rem;
}

.carrito-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    /* o el ancho que prefieras */
    height: 100%;
    background-color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(100%);
    /* Oculto por defecto, fuera de la vista */
    transition: transform 0.4s ease-out;
    /* Transición suave */
    padding: 20px;
    overflow-y: auto;
}

.carrito-modal.visible {
    /* Visible al añadir esta clase */
    transform: translateX(0);
}

.btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5em;
}