<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <!-- Sección del carrito -->
    <section class="carrito">
      <h2>Carrito</h2>
      <button id="vaciar-carrito" class="btn-vaciar">Vaciar Carrito</button>
      <ul id="lista-carrito" class="lista-carrito">
        <!-- Aquí se insertarán los items del carrito -->
      </ul>
      <div class="total-carrito">
        <strong>Total: $<span id="total-precio">0</span></strong>
      </div>
    </section>
  </body>
<script src="../js/carrito.js"></script>
</script>
</html>
