<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="flex-row-center-center" id="nav-sub-navbar">
            <p>Santiago Ezequiel Oldani</p>
            <p>Damián Posada</p>
        </div>
        <div id="nav">
            <div id="nav-logo">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <h1>Farmacy</h1>
            </div>

            <div id="nav-carrito">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <span>0</span>
            </div>
        </div>
    </nav>

    <main id="main-productos">
        <h2>Nuestros productos</h2>
        <div id="productos">
            <div class="flex-col-center-center">
                <div class="productos-categorias" id="todos-los-productos">
                    <span>Todos los productos</span>
                </div>
                <div class="productos-categorias">
                    <span>Medicamentos</span>
                </div>
                <div class="productos-categorias">
                    <span>Cremas</span>
                </div>
            </div>
            <div id="productos-contenedor">
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
                <div id="producto">
                    <img src="../assets//imgs/ibuprofeno.webp" alt="">
                    <div id="sub-contenedor-producto">
                        <h5>Ibuprofeno 400mg</h5>
                        <p>$2.817</p>
                        <div id="agregar-producto-button">Añadir al carrito</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js//main.js"></script>

</html>